---
import Layout from "../../components/Layout.astro";
import Nav from "../../components/Nav.astro";
import Header from "../../components/Header.astro";
import Container from "../../components/Container.astro";
import Prose from "../../components/Prose.astro";
import Gallery from "../../components/Gallery.astro";

import { getCollection, getEntry, render } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
    const pages = await getCollection("aircraft");
    return pages.map(({ id, data }) => ({
        params: { slug: data.slug || id },
        props: { ...data },
    }));
}

const page = await getEntry("aircraft", Astro.params.slug);
const { Content } = await render(page);
const { title, youtubeId, stats, components, resources } = Astro.props;

const images = (Astro.props.photos || []).map((a) => a.src);
---

<Layout title={title}>
    <Nav />
    <Header title={title} subtitle="Aircraft/" />
    <Container
        classes={["grid", "grid-cols-1", "lg:grid-cols-12", "lg:gap-12"]}
    >
        <div
            class="col-span-1 text-lg lg:text-xl lg:col-span-8 dark:text-gray-100"
        >
            {
                youtubeId ? (
                    <media-controller class="w-full aspect-video mb-8 relative isolate z-1">
                        <youtube-video
                            src={`https://www.youtube.com/watch?v=${youtubeId}&hd=1`}
                            slot="media"
                            class="absolute w-full h-full isolate"
                            crossorigin
                        />
                        <media-loading-indicator
                            slot="centered-chrome"
                            noautohide
                        />
                        <media-control-bar class="w-full bottom-0 absolute">
                            <media-play-button class="p-2" />
                            <media-mute-button />
                            <media-volume-range />
                            <media-time-range />
                            <media-fullscreen-button class="p-2" />
                        </media-control-bar>
                    </media-controller>
                ) : undefined
            }
            <Prose><Content /></Prose>
        </div>
        <div
            class="text-gray-700 dark:text-gray-300 mt-12 col-span-1 lg:col-span-4 lg:mt-0"
        >
            <div class="mt-8">
                <span
                    class="font-semibold uppercase underline underline-offset-8"
                    >Stats</span
                >
                <ul class="mt-4">
                    {
                        (stats || []).map((l) => (
                            <li class="relative mb-2">
                                <span class="uppercase text-sm font-medium block mb-2">
                                    {l.title}
                                </span>
                                <span>{l.value}</span>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="mt-8">
                <span
                    class="font-semibold uppercase underline underline-offset-8"
                    >Resources</span
                >
                <ul class="mt-4">
                    {
                        (resources || []).map((l) =>
                            l.href && l.href !== "" ? (
                                <li class="relative mb-2 text-sm font-medium">
                                    <span class="mb-2">{l.title}</span>
                                    <span>
                                        <a
                                            href={l.href}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <span>{l.value}</span>
                                            &rarr;
                                        </a>
                                    </span>
                                </li>
                            ) : (
                                <li class="relative mb-2">
                                    <span class="uppercase block mb-2">
                                        {l.title}
                                    </span>
                                    <span>
                                        <span>{l.value}</span>
                                    </span>
                                </li>
                            ),
                        )
                    }
                </ul>
            </div>
            <div class="mt-8">
                <span
                    class="font-semibold uppercase underline underline-offset-8"
                    >Components</span
                >
                <ul class="mt-4">
                    {
                        (components || []).map((l) =>
                            l.href && l.href !== "" ? (
                                <li class="relative mb-2 text-sm font-medium">
                                    <span class="uppercase block mb-2">
                                        {l.title}
                                    </span>
                                    <span>
                                        <a
                                            href={l.href}
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <span>{l.value}</span>
                                            &rarr;
                                        </a>
                                    </span>
                                </li>
                            ) : (
                                <li class="relative mb-2 text-sm font-medium">
                                    <span class="uppercase block mb-2">
                                        {l.title}
                                    </span>
                                    <span>
                                        <span>{l.value}</span>
                                    </span>
                                </li>
                            ),
                        )
                    }
                </ul>
            </div>
        </div>
    </Container>
    <Gallery
        classes={[
            "grid",
            "grid-cols-1",
            "md:grid-cols-2",
            "lg:grid-cols-3",
            "mt-12",
            "lg:mt-16",
        ]}
        images={images}
    />
</Layout>
