---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Gallery from "../components/Gallery.astro";
import Prose from "../components/Prose.astro";
import LinksList from "../components/LinksList.astro";
import { formatDate, getPage, render } from "../data";

import podcast from "../assets/craft-and-process.jpg";
import trike from "../assets/trike.jpg";
import redRocks from "../assets/running-red-rocks.jpg";
import superhero from "../assets/superhero.jpg";
import profile from "../assets/redrocksrelax.jpg";
import dillon from "../assets/dillon.jpg";

const images = [podcast, trike, redRocks, profile, superhero, dillon];

const page = await getPage("about");
const { Content } = await render(page);
---

<Layout
    title="About"
    description="Nicholas Young is a Colorado-based engineer, filmmaker, designer, and creative director."
>
    <Nav />
    <Header title="About" />
    <Container
        classes={["grid", "grid-cols-1", "lg:grid-cols-12", "lg:gap-12"]}
    >
        <div
            class="col-span-1 text-lg lg:text-xl lg:col-span-8 dark:text-gray-100"
        >
            <Prose><Content /></Prose>
        </div>
        <div
            class="text-gray-700 dark:text-gray-300 mt-12 col-span-1 lg:col-span-4 lg:mt-0"
        >
            <LinksList links={page.data.links} />
            <div class="mt-8">
                <span
                    class="font-semibold uppercase underline underline-offset-8"
                    >Recent Media</span
                >
                <ul class="mt-4">
                    {
                        (page.data.media || []).map((l) => (
                            <li class="relative mb-2">
                                <a
                                    class="block"
                                    target="_blank"
                                    rel="noopener"
                                    href={l.href}
                                >
                                    "{l.title}"
                                </a>
                                <span class="uppercase text-sm">
                                    {l.source}
                                    {formatDate(l.pubDate)}
                                </span>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </Container>
    <Gallery
        classes={[
            "grid",
            "grid-cols-1",
            "md:grid-cols-2",
            "lg:grid-cols-3",
            "mt-12",
            "lg:mt-16",
        ]}
        images={images}
    />
</Layout>
