---
import apple from "../assets/podcasts-ios.svg";
import iheart from "../assets/podcasts-iheart.svg";
import audible from "../assets/podcasts-audible.svg";
import rss from "../assets/podcasts-rss.svg";

const { title, links } = Astro.props;

function getImage(title) {
    if (title.includes("Apple")) {
        return apple.src;
    }

    if (title.includes("iHeart")) {
        return iheart.src;
    }

    if (title.includes("Audible")) {
        return audible.src;
    }

    return rss.src;
}

function getAlt(title) {
    if (title.includes("Apple")) {
        return "Subscribe on Apple Podcasts";
    }

    if (title.includes("iHeart")) {
        return "Follow on iHeart Media";
    }

    if (title.includes("Audible")) {
        return "Listen on Audible";
    }

    return "Subscribe via RSS";
}
---

<nav class="flex z-20">
    <ul class="flex flex-wrap items-center font-medium text-sm">
        <li
            class="relative flex items-center space-x-1"
            x-data="{ open: false }"
            @mouseenter="open = true"
            @mouseleave="open = false"
        >
            <a
                class="text-slate-800 hover:text-slate-400 dark:text-slate-200 uppercase font-bold"
                href="#0"
                :aria-expanded="open">{title}</a
            >
            <button
                class="shrink-0 p-1"
                :aria-expanded="open"
                @click.prevent="open = !open"
            >
                <span class="sr-only">Show submenu for "{title}"</span>
                <svg
                    class="w-3 h-3 fill-slate-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                >
                    <path d="M10 2.586 11.414 4 6 9.414.586 4 2 2.586l4 4z"
                    ></path>
                </svg>
            </button>
            <ul
                class="origin-top-right absolute top-full left-1/12 -translate-x-1/12 min-w-[240px] bg-white border border-slate-200 p-2 rounded-lg shadow-xl [&[x-cloak]]:hidden"
                x-show="open"
                x-transition:enter="transition ease-out duration-200 transform"
                x-transition:enter-start="opacity-0 -translate-y-2"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-out duration-200"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                x-cloak
                @focusout="await $nextTick();!$el.contains($focus.focused()) && (open = false)"
            >
                {
                    links && links.length > 0
                        ? links.map((l) => (
                              <li>
                                  <a
                                      class="text-slate-800 hover:bg-slate-50 flex items-center p-2"
                                      target="_blank"
                                      rel="noopener"
                                      href={l.href}
                                  >
                                      <div class="flex items-center justify-center bg-white rounded shadow-sm h-7 w-7 shrink-0 mr-3">
                                          <img
                                              src={getImage(l.title)}
                                              alt={getAlt(l.title)}
                                          />
                                      </div>
                                      <span class="whitespace-nowrap">
                                          {l.title}
                                      </span>
                                  </a>
                              </li>
                          ))
                        : undefined
                }
            </ul>
        </li>
    </ul>
</nav>
